-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: booking
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accessories`
--

DROP TABLE IF EXISTS `accessories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accessories` (
  `accessories_number` bigint NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `accessories_amount` decimal(10,2) DEFAULT NULL,
  `receipt_file` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`accessories_number`)
) ENGINE=InnoDB AUTO_INCREMENT=10233 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accessories`
--

LOCK TABLES `accessories` WRITE;
/*!40000 ALTER TABLE `accessories` DISABLE KEYS */;
INSERT INTO `accessories` VALUES (10232,'101',1,30000.00,'1776493943704_c2receipt-934A83D5.pdf');
/*!40000 ALTER TABLE `accessories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accessories_refer`
--

DROP TABLE IF EXISTS `accessories_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accessories_refer` (
  `customer_id` int DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accessories_refer`
--

LOCK TABLES `accessories_refer` WRITE;
/*!40000 ALTER TABLE `accessories_refer` DISABLE KEYS */;
INSERT INTO `accessories_refer` VALUES (101,1,'Completed');
/*!40000 ALTER TABLE `accessories_refer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_status`
--

DROP TABLE IF EXISTS `account_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_status` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `customer_name` varchar(100) DEFAULT NULL,
  `type` varchar(20) DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `end_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_status`
--

LOCK TABLES `account_status` WRITE;
/*!40000 ALTER TABLE `account_status` DISABLE KEYS */;
INSERT INTO `account_status` VALUES (1,101,1,'Omkar','Clear',0.00,'2026-04-18 06:33:13',NULL);
/*!40000 ALTER TABLE `account_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_cancellations`
--

DROP TABLE IF EXISTS `booking_cancellations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking_cancellations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `reason` text,
  `bank_details` text,
  `cancelled_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `alert_shown` tinyint DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_cancellations`
--

LOCK TABLES `booking_cancellations` WRITE;
/*!40000 ALTER TABLE `booking_cancellations` DISABLE KEYS */;
INSERT INTO `booking_cancellations` VALUES (1,'101',1,'Money is not arranged','State Bank of India','2026-04-18 08:52:28',0);
/*!40000 ALTER TABLE `booking_cancellations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_cancelled`
--

DROP TABLE IF EXISTS `booking_cancelled`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking_cancelled` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_id` varchar(50) DEFAULT NULL,
  `start_time` datetime DEFAULT NULL,
  `end_time` datetime DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_cancelled`
--

LOCK TABLES `booking_cancelled` WRITE;
/*!40000 ALTER TABLE `booking_cancelled` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_cancelled` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_documents`
--

DROP TABLE IF EXISTS `booking_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking_documents` (
  `doc_id` int NOT NULL AUTO_INCREMENT,
  `booking_id` int DEFAULT NULL,
  `aadhaar_file` varchar(255) DEFAULT NULL,
  `pan_file` varchar(255) DEFAULT NULL,
  `receipt_file` varchar(255) DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`doc_id`),
  KEY `booking_id` (`booking_id`),
  CONSTRAINT `booking_documents_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`booking_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_documents`
--

LOCK TABLES `booking_documents` WRITE;
/*!40000 ALTER TABLE `booking_documents` DISABLE KEYS */;
INSERT INTO `booking_documents` VALUES (1,1,'1776493764731_c2receipt-934A83D5.pdf','1776493764733_Ewan_Hotel_Apartments_Payment_Link_Hospitality.pdf','1776493764746_c2receipt-934A83D5-722E9993-eventTicket.pdf','2026-04-18 06:29:24'),(2,2,'1776494930408_Ewan_Hotel_Apartments_Payment_Link_Hospitality.pdf','1776494930417_c2receipt-934A83D5-722E9993-eventTicket.pdf','1776494930417_Ewan_Hotel_Apartments_Payment_Link_Hospitality.pdf','2026-04-18 06:48:50');
/*!40000 ALTER TABLE `booking_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings` (
  `booking_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) NOT NULL,
  `customer_name` varchar(100) NOT NULL,
  `mobile_number` varchar(15) NOT NULL,
  `vehicle_model` varchar(50) NOT NULL,
  `booking_date` date NOT NULL,
  `booking_amount` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `booking_status` enum('Pending','Completed','Cancelled') DEFAULT 'Pending',
  PRIMARY KEY (`booking_id`),
  UNIQUE KEY `unique_customer` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
INSERT INTO `bookings` VALUES (1,'101','Omkar','8296701926','Swift','2026-04-18',5000.00,500000.00,'Completed'),(2,'102','Nilesh','7204342338','Nexa','2026-04-18',7000.00,600000.00,'Completed');
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branches`
--

DROP TABLE IF EXISTS `branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branches` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branches`
--

LOCK TABLES `branches` WRITE;
/*!40000 ALTER TABLE `branches` DISABLE KEYS */;
INSERT INTO `branches` VALUES (1,'Arena','Udyambag Banco, Belagavi'),(2,'AWS','Vaibhav Nagar, Belagaum');
/*!40000 ALTER TABLE `branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cancelled_booking_refunds`
--

DROP TABLE IF EXISTS `cancelled_booking_refunds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cancelled_booking_refunds` (
  `id` int NOT NULL AUTO_INCREMENT,
  `booking_id` int DEFAULT NULL,
  `customer_id` int DEFAULT NULL,
  `customer_name` varchar(100) DEFAULT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `booking_amount` decimal(10,2) DEFAULT NULL,
  `total_paid` decimal(10,2) DEFAULT NULL,
  `refund_amount` decimal(10,2) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cancelled_booking_refunds`
--

LOCK TABLES `cancelled_booking_refunds` WRITE;
/*!40000 ALTER TABLE `cancelled_booking_refunds` DISABLE KEYS */;
/*!40000 ALTER TABLE `cancelled_booking_refunds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delivery_refer`
--

DROP TABLE IF EXISTS `delivery_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery_refer` (
  `customer_id` varchar(50) NOT NULL,
  `booking_id` int DEFAULT NULL,
  `status` varchar(50) NOT NULL,
  PRIMARY KEY (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery_refer`
--

LOCK TABLES `delivery_refer` WRITE;
/*!40000 ALTER TABLE `delivery_refer` DISABLE KEYS */;
INSERT INTO `delivery_refer` VALUES ('101',1,'Completed');
/*!40000 ALTER TABLE `delivery_refer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_tat`
--

DROP TABLE IF EXISTS `department_tat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department_tat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `department` enum('Sales','Accounts','VehicleAllotment','Invoice','Insurance','RTO','Fastag','Accessories','Delivery') DEFAULT NULL,
  `start_time` datetime DEFAULT NULL,
  `end_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_booking_department` (`booking_id`,`department`),
  KEY `idx_booking` (`booking_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_tat`
--

LOCK TABLES `department_tat` WRITE;
/*!40000 ALTER TABLE `department_tat` DISABLE KEYS */;
/*!40000 ALTER TABLE `department_tat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fastag_details`
--

DROP TABLE IF EXISTS `fastag_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fastag_details` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) NOT NULL,
  `booking_id` int NOT NULL,
  `fastag_number` varchar(100) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fastag_details`
--

LOCK TABLES `fastag_details` WRITE;
/*!40000 ALTER TABLE `fastag_details` DISABLE KEYS */;
INSERT INTO `fastag_details` VALUES (1,'101',1,'674522',40000.00);
/*!40000 ALTER TABLE `fastag_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fastag_refer`
--

DROP TABLE IF EXISTS `fastag_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fastag_refer` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) NOT NULL,
  `booking_id` int NOT NULL,
  `status` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fastag_refer`
--

LOCK TABLES `fastag_refer` WRITE;
/*!40000 ALTER TABLE `fastag_refer` DISABLE KEYS */;
INSERT INTO `fastag_refer` VALUES (1,'101',1,'Completed');
/*!40000 ALTER TABLE `fastag_refer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insurance_details`
--

DROP TABLE IF EXISTS `insurance_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insurance_details` (
  `insurance_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) NOT NULL,
  `insurance_company` varchar(50) DEFAULT NULL,
  `policy_number` varchar(50) DEFAULT NULL,
  `policy_type` varchar(50) DEFAULT NULL,
  `policy_amount` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`insurance_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insurance_details`
--

LOCK TABLES `insurance_details` WRITE;
/*!40000 ALTER TABLE `insurance_details` DISABLE KEYS */;
INSERT INTO `insurance_details` VALUES (1,'101','Maruti Suzuki ','42214','Third Party',40000.00);
/*!40000 ALTER TABLE `insurance_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insurance_refer`
--

DROP TABLE IF EXISTS `insurance_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insurance_refer` (
  `customer_id` varchar(50) NOT NULL,
  `booking_id` int DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insurance_refer`
--

LOCK TABLES `insurance_refer` WRITE;
/*!40000 ALTER TABLE `insurance_refer` DISABLE KEYS */;
INSERT INTO `insurance_refer` VALUES ('101',1,'Completed'),('102',2,'Pending');
/*!40000 ALTER TABLE `insurance_refer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoice_details`
--

DROP TABLE IF EXISTS `invoice_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_details` (
  `invoice_id` int NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(50) DEFAULT NULL,
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `invoice_amount` decimal(10,2) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`invoice_id`),
  UNIQUE KEY `invoice_number` (`invoice_number`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoice_details`
--

LOCK TABLES `invoice_details` WRITE;
/*!40000 ALTER TABLE `invoice_details` DISABLE KEYS */;
INSERT INTO `invoice_details` VALUES (1,'10234','101',1,20000.00,'Paid'),(2,'10892','102',2,50000.00,'Paid');
/*!40000 ALTER TABLE `invoice_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoice_receipts`
--

DROP TABLE IF EXISTS `invoice_receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_receipts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `invoice_id` int DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `receipt_file` varchar(255) DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoice_receipts`
--

LOCK TABLES `invoice_receipts` WRITE;
/*!40000 ALTER TABLE `invoice_receipts` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoice_refer`
--

DROP TABLE IF EXISTS `invoice_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_refer` (
  `customer_id` varchar(50) NOT NULL,
  `booking_id` int DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoice_refer`
--

LOCK TABLES `invoice_refer` WRITE;
/*!40000 ALTER TABLE `invoice_refer` DISABLE KEYS */;
INSERT INTO `invoice_refer` VALUES ('101',1,'Completed'),('102',2,'Completed');
/*!40000 ALTER TABLE `invoice_refer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `other_amount`
--

DROP TABLE IF EXISTS `other_amount`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `other_amount` (
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `other_amount` decimal(10,2) DEFAULT NULL,
  `final_amount` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `other_amount`
--

LOCK TABLES `other_amount` WRITE;
/*!40000 ALTER TABLE `other_amount` DISABLE KEYS */;
INSERT INTO `other_amount` VALUES ('101',1,80000.00,510000.00,'2026-04-18 06:33:13');
/*!40000 ALTER TABLE `other_amount` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `other_refer`
--

DROP TABLE IF EXISTS `other_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `other_refer` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `other_refer`
--

LOCK TABLES `other_refer` WRITE;
/*!40000 ALTER TABLE `other_refer` DISABLE KEYS */;
INSERT INTO `other_refer` VALUES (1,'101',1,'Completed','2026-04-18 06:32:23');
/*!40000 ALTER TABLE `other_refer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_details`
--

DROP TABLE IF EXISTS `payment_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_details` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `amount_paid` decimal(10,2) DEFAULT NULL,
  `payment_mode` varchar(50) DEFAULT NULL,
  `payment_date` date DEFAULT NULL,
  PRIMARY KEY (`payment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_details`
--

LOCK TABLES `payment_details` WRITE;
/*!40000 ALTER TABLE `payment_details` DISABLE KEYS */;
INSERT INTO `payment_details` VALUES (1,'101',1,500000.00,245000.00,'Cash','2026-04-18'),(2,'101',1,500000.00,10000.00,'Cash','2026-04-18'),(3,'102',2,600000.00,293000.00,'Cash','2026-04-18');
/*!40000 ALTER TABLE `payment_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_receipts`
--

DROP TABLE IF EXISTS `payment_receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_receipts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `payment_id` int DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `receipt_file` varchar(255) DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_receipts`
--

LOCK TABLES `payment_receipts` WRITE;
/*!40000 ALTER TABLE `payment_receipts` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_refer`
--

DROP TABLE IF EXISTS `payment_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_refer` (
  `booking_id` int NOT NULL,
  `customer_name` varchar(50) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_amount` decimal(10,2) DEFAULT NULL,
  `remaining_amount` decimal(10,2) DEFAULT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `total_payment` decimal(10,2) DEFAULT '0.00',
  PRIMARY KEY (`booking_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_refer`
--

LOCK TABLES `payment_refer` WRITE;
/*!40000 ALTER TABLE `payment_refer` DISABLE KEYS */;
INSERT INTO `payment_refer` VALUES (1,'Omkar','Completed','101',5000.00,0.00,500000.00,245000.00),(2,'Nilesh','Completed','102',7000.00,0.00,600000.00,293000.00);
/*!40000 ALTER TABLE `payment_refer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rto_details`
--

DROP TABLE IF EXISTS `rto_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rto_details` (
  `rto_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` varchar(20) NOT NULL,
  `receipt_no` varchar(50) NOT NULL,
  `registration_no` varchar(50) NOT NULL,
  `registration_date` date NOT NULL,
  `registration_amount` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`rto_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rto_details`
--

LOCK TABLES `rto_details` WRITE;
/*!40000 ALTER TABLE `rto_details` DISABLE KEYS */;
INSERT INTO `rto_details` VALUES (1,'101','78645','89672','2026-04-18',50000.00,'2026-04-18 06:31:34');
/*!40000 ALTER TABLE `rto_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rto_refer`
--

DROP TABLE IF EXISTS `rto_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rto_refer` (
  `customer_id` varchar(50) NOT NULL,
  `booking_id` int NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`customer_id`,`booking_id`),
  UNIQUE KEY `unique_booking` (`customer_id`,`booking_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rto_refer`
--

LOCK TABLES `rto_refer` WRITE;
/*!40000 ALTER TABLE `rto_refer` DISABLE KEYS */;
INSERT INTO `rto_refer` VALUES ('101',1,'Completed');
/*!40000 ALTER TABLE `rto_refer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tat_rules`
--

DROP TABLE IF EXISTS `tat_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tat_rules` (
  `department` varchar(20) DEFAULT NULL,
  `expected_hours` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tat_rules`
--

LOCK TABLES `tat_rules` WRITE;
/*!40000 ALTER TABLE `tat_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `tat_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `branch` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicleallotment`
--

DROP TABLE IF EXISTS `vehicleallotment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicleallotment` (
  `allotementno` varchar(100) NOT NULL,
  `chassis_no` varchar(100) DEFAULT NULL,
  `eng_no` varchar(100) DEFAULT NULL,
  `customer_id` varchar(50) DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  PRIMARY KEY (`allotementno`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicleallotment`
--

LOCK TABLES `vehicleallotment` WRITE;
/*!40000 ALTER TABLE `vehicleallotment` DISABLE KEYS */;
INSERT INTO `vehicleallotment` VALUES ('23114','45564','234523','101',1),('4343','4t4t4','t4t5y5','102',2);
/*!40000 ALTER TABLE `vehicleallotment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicleallotment_refer`
--

DROP TABLE IF EXISTS `vehicleallotment_refer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicleallotment_refer` (
  `customer_id` varchar(50) NOT NULL,
  `booking_id` int NOT NULL,
  `status` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`booking_id`),
  UNIQUE KEY `booking_id` (`booking_id`),
  UNIQUE KEY `booking_id_2` (`booking_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicleallotment_refer`
--

LOCK TABLES `vehicleallotment_refer` WRITE;
/*!40000 ALTER TABLE `vehicleallotment_refer` DISABLE KEYS */;
INSERT INTO `vehicleallotment_refer` VALUES ('101',1,'Completed'),('102',2,'Completed');
/*!40000 ALTER TABLE `vehicleallotment_refer` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-28  0:02:23
